<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="/static/styles.css" rel="stylesheet">
    </head>
    <body>
        <h1>My Animal Repository</h1>
        <ul class="cards">
            {% for animal in animals %}
                <li class="cards__item">
                    <div class="card__title">{{animal.name}} &#x21B4;</div>
                    <p class="card__text">
                        <ul>
                            <li><strong>Diet: </strong>{{animal.diet}}</li>
                            <li><strong>Location: </strong>{{animal.location}}</li>
                            {% if animal.type %}
                                <li><strong>Type: </strong>{{animal.type}}</li>
                            {% endif %}
                        </ul>
                    </p>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>